extends layout

block content

  header.w3-margin-left
    h1.w3-text-orange Periodic Table
  
  ul
    li.w3-text-teal
      a(href=`/elements`) Elements
    li.w3-text-pink
      a(href=`/groups`) Groups
    li.w3-text-orange
      a(href=`/periods`) Periods