extends layout

block content

  header.w3-margin-left
    h1.w3-text-blue Tabela Periódica
  
  if elems.length 
    each e in elems 
      ul
        li 
          a(href=`/elementos/${e}`)
            b= e
            if e 
              span  - #{e}

  else
    p.w3-margin-left Nenhum elemento encontrado.