extends layout 

block content 

    header.w3-margin-left 
        h1.w3-text-orange Repositório
        a(href=`/repos/${repos}`) #{repos} -
        span Classe #{classe} - 
        span Indivíduos

    if individuos.length 
        each i in individuos 
            ul 
                li 
                    a(href=`/repos/${repos}/individuo/${i}`)= i

    else 
        p.w3-margin-left Não existem indivíduos nesta classe.

    a(href="/").w3-margin-left Página Inicial